<ScrollView>
    <StackLayout *ngIf="!signup">
        <StackLayout class="authContainer text-center">


            <Image *ngIf="startingApp" src="~/fonts/logo_lpv.png" (tap)="onRotate($event)"></Image>


            <StackLayout *ngIf="startingApp">
                <Label class="welcomeBar"></Label>
                <Label class="welcomeLabel" text="BIENVENUE SUR LE PETIT VAPOTEUR MOBILE !" textWrap="true"></Label>
                <Label class="welcomeBar"></Label>
            </StackLayout>


            <Label class="loginLabel" text="CONNEXION À VOTRE COMPTE LE PETIT VAPOTEUR" textWrap="true"></Label>


            <Label *ngIf="invalidEmail" class="errorMessage"
                text="Veuillez rentrer une addresse e-mail valide."></Label>
            <TextField class="field" hint="E-mail..." [(ngModel)]="email" [ngClass]="{ 'invalidField' : invalidEmail }"
                editable="{{!spinner}}">
            </TextField>


            <Label *ngIf="invalidPassword" class="errorMessage" text="Veuillez rentrer un mot de passe."></Label>
            <TextField class="field" secure="true" hint="Mot de passe..." [(ngModel)]="password"
                [ngClass]="{ 'invalidField' : invalidPassword }" editable="{{!spinner}}"></TextField>


            <Label *ngIf="errorMessage" class="errorMessage" text="Adresse e-mail ou mot de passe incorrect."></Label>
            <Button class="loginButton" text="CONNEXION" (tap)="onLogin()" isEnabled="{{!spinner}}"></Button>


            <StackLayout orientation="horizontal">
                <Label class="goToSignupLabel" text="Vous ne possédez pas encore de compte ?"></Label>
                <Button class="goToSignupButton" text="Créez-en un" (tap)="goToSignup()"
                    isEnabled="{{!spinner}}"></Button>
            </StackLayout>


            <Button *ngIf="startingApp" class="noLogin" text="SE CONNECTER PLUS TARD" (tap)="goToApp()"
                isEnabled="{{!spinner}}"></Button>

        </StackLayout>
    </StackLayout>
</ScrollView>

<ns-custom-spinner *ngIf="spinner"></ns-custom-spinner>

<StackLayout *ngIf="welcome" class="welcomeMessageContainer" verticalAlignment="center">
    <StackLayout>
        <Label class="welcomeMessage" text="Oh te revoilà ! Quel plaisir de te revoir !" textWrap="true"></Label>
    </StackLayout>
</StackLayout>