<ScrollView>
    <StackLayout>
        <StackLayout class="loginContainer text-center"
            [ngClass]="{'noMargin': !startingApp, 'startingAppMargin': startingApp}">


            <Image *ngIf="startingApp" src="~/fonts/logo_lpv.png" (tap)="onRotate($event)"></Image>


            <StackLayout *ngIf="startingApp">
                <Label class="welcomeBar"></Label>
                <Label class="welcomeLabel" text="BIENVENUE SUR LE PETIT VAPOTEUR MOBILE !" textWrap="true"></Label>
                <Label class="welcomeBar"></Label>
            </StackLayout>


            <Label class="loginLabel" text="CONNEXION À VOTRE COMPTE LE PETIT VAPOTEUR" textWrap="true"></Label>


            <Label *ngIf="invalidEmail" class="errorMessage"
                text="Veuillez rentrer une addresse e-mail valide."></Label>
            <TextField class="field" hint="Adresse e-mail..." [(ngModel)]="email"
                [ngClass]="{ 'invalidField' : invalidEmail }" editable="{{!spinner}}">
            </TextField>


            <Label *ngIf="invalidPassword" class="errorMessage" text="Veuillez rentrer un mot de passe."></Label>
            <TextField class="field" secure="true" hint="Mot de passe..." [(ngModel)]="password"
                [ngClass]="{ 'invalidField' : invalidPassword }" editable="{{!spinner}}"></TextField>


            <Label *ngIf="errorMessage" class="errorMessage" text="Adresse e-mail ou mot de passe incorrect."></Label>
            <ns-custom-button [type]="'orange'" [text]="'CONNEXION'" [width]="'75%'" [fontSize]="'25'" (tap)="onLogin()"
                isEnabled="{{!spinner}}"></ns-custom-button>


            <StackLayout orientation="horizontal">
                <Label class="goToSignupLabel" text="Vous ne possédez pas encore de compte ?"></Label>
                <ns-custom-button [type]="'blue'" [text]="'CRÉEZ-EN-UN'" [width]="'32.5%'" [fontSize]="'20'"
                    (tap)="onGoToSignup()" isEnabled="{{!spinner}}"></ns-custom-button>
            </StackLayout>


            <ns-custom-button *ngIf="startingApp" [type]="'grey'" [text]="'SE CONNECTER PLUS TARD'" [width]="'50%'"
                [fontSize]="'15'" (tap)="onGoToApp(false)" isEnabled="{{!spinner}}"></ns-custom-button>

        </StackLayout>
    </StackLayout>
</ScrollView>

<ns-custom-spinner *ngIf="spinner"></ns-custom-spinner>

<StackLayout *ngIf="welcome" class="welcomeMessageContainer" verticalAlignment="center">
    <StackLayout>
        <Label class="welcomeMessage" text="Oh te revoilà ! Quel plaisir de te revoir !" textWrap="true"></Label>
    </StackLayout>
</StackLayout>