// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;

.authContainer {
    height: 100%;
    width: 90%;
    margin-top: 20;
}

.welcomeLabel {
    font-size: 35;
    color: $custom_orange;
}
.welcomeBar {
    height: 10px;
    background-color: $custom_orange;
}

.loginLabel {
    font-size: 25;
    color: $custom_blue;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.field {
    height: 150px;
    border-width: 2px;
    border-color: $custom_grey;
    border-radius: 5%;
    font-size: 20;
    color: $custom_grey;
    font-family: "Courrier New";
    placeholder-color: $custom_grey;
    margin: 0;
}

.loginButton {
    margin: 0;
    width: 75%;
    background-color: $custom_orange;
    color: white;
    font-size: 25;
    &:active {
        background-color: $custom_blue;
    }
}

.errorMessage {
    color: red;
    font-size: 15;
    margin: 0;
}

.goToSignupLabel {
    vertical-align: center;
    font-size: 15;
}


.invalidField {
    border-color: red;
}

.welcomeMessageContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.welcomeMessage {
    font-size: 50;
    font-family: "Carrington";
    color: $custom_orange;
    text-align: center;
}