// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;

.back {
    font-size: 25;
    color: white;
    background-color: $custom_orange;
}


.accountContainer {
}

.tabs {
    highlight-color: $custom_orange;
    selected-item-color: $custom_orange;
    un-selected-item-color: $custom_blue;
}

.tab {
    height: 65;
    font-size: 20;
    background-color: $main_color;
}