<ActionBar class="actionbar" *ngIf="logged">
    <GridLayout rows="*" columns="*,*,*">
        <Button row="0" col="0" class="back" text="RETOUR" (tap)="goBack()" *ngIf="back"></Button>
        <Image row="0" col="1" src="~/fonts/logo-menu-uni.png" (touch)="onRotate($event)" horizontalAlignment="center"
            stretch="none"></Image>
    </GridLayout>
</ActionBar>


<StackLayout class="accountContainer" *ngIf="logged">

    <Tabs>

        <TabStrip class="tabs">
            <TabStripItem class="tab">
                <Label text="MON PROFIL"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="MES COMMANDES"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="MES ACHATS FRÉQUENTS"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="S.A.V"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="MES AVANTAGES"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="FAVORIS"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="PARAMÈTRES"></Label>
            </TabStripItem>
        </TabStrip>

        

        <TabContentItem class="profile">
            <ns-profile [welcome]="welcome" [user]="user"></ns-profile>
        </TabContentItem>

        <TabContentItem class="orders">
            <ns-orders></ns-orders>
        </TabContentItem>

        <TabContentItem class="frequentPurchase">
            <ns-frequent-purchase></ns-frequent-purchase>
        </TabContentItem>

        <TabContentItem class="sav">
            <ns-sav></ns-sav>
        </TabContentItem>

        <TabContentItem class="benefits">
            <ns-benefits></ns-benefits>
        </TabContentItem>

        <TabContentItem class="favorites">
            <ns-favorites></ns-favorites>
        </TabContentItem>

        <TabContentItem class="settings">
            <ns-settings></ns-settings>
        </TabContentItem>

    </Tabs>
</StackLayout>

<ns-auth [accountAuth]="true" *ngIf="!logged"></ns-auth>