// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;


.accountContainer {

}

.tabs {
}

.tab {
    height: 65;
    font-size: 20;
    background-color: $main_color;
    color: $custom_blue;
}

.back {
    font-size: 20;
    color: white;
    background-color: $custom_orange;
}

.settings {
    width: 75;
    height: 75;
    background-color: $main_color;
    color: $custom_grey;
    font-size: 30;
}

.logoutButton {
    width: 50%;
    background-color: $custom_orange;
    color: white;
    font-size: 25;
    &:active {
        background-color: $custom_blue;
    }
}
