<ActionBar class="actionbar">
    <GridLayout rows="*" columns="*,*,*">
        <Button row="0" col="0" class="back" text="RETOUR" (tap)="goBack()" *ngIf="back"></Button>
        <Image row="0" col="1" src="~/fonts/logo-menu-uni.png" (touch)="onRotate($event)" horizontalAlignment="center"
            stretch="none"></Image>
    </GridLayout>
</ActionBar>

<StackLayout class="accountContainer">

    <Tabs selectedIndex="0">

        <TabStrip class="tabs">
            <TabStripItem class="tab" highlightColor="black">
                <Label text="MON PROFIL"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="MES COMMANDES"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="MES ACHATS FRÉQUENTS"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="S.A.V"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="MES AVANTAGES"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="FAVORIS"></Label>
            </TabStripItem>
            <TabStripItem class="tab">
                <Label text="PARAMÈTRES"></Label>
            </TabStripItem>
        </TabStrip>

        

        <TabContentItem class="profile">
            <ns-profile [welcome]="welcome"></ns-profile>
        </TabContentItem>

        <TabContentItem class="orders">
            <ns-orders [welcome]="welcome"></ns-orders>
        </TabContentItem>

        <TabContentItem class="frequentPurchase">
            <ns-frequent-purchase [welcome]="welcome"></ns-frequent-purchase>
        </TabContentItem>

        <TabContentItem class="sav">
            <ns-sav [welcome]="welcome"></ns-sav>
        </TabContentItem>

        <TabContentItem class="benefits">
            <ns-benefits [welcome]="welcome"></ns-benefits>
        </TabContentItem>

        <TabContentItem class="favorites">
            <ns-favorites [welcome]="welcome"></ns-favorites>
        </TabContentItem>

        <TabContentItem class="settings">
            <ns-settings [welcome]="welcome"></ns-settings>
        </TabContentItem>

    </Tabs>
</StackLayout>