// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;


.shoppingCartContainer {
    background-color: $custom_greyWhite;
}

.itemsContainer {
    margin: 15;
}

.item {
    background-color: white;
    border-radius: 5;
    margin-bottom: 5;
}

.itemName {
    text-align: center;
    vertical-align: center;
    font-size: 25;
    color: $custom_grey;
}

.image {
    margin: 5;
    border-width: 1;
    border-color: $custom_grey;
}

.labelField {
    vertical-align: middle;
    text-align: center;
    font-size: 20;
    color: $custom_grey;
}

.select {
    text-align: center;
    font-size: 20;
    background-color: $custom_greyWhite;
    color: $custom_grey;
    border-radius: 5;
    border-width: 0;
    border-color: $custom_greyWhite;
}

.price {
    text-align: center;
    vertical-align: middle;
    font-size: 25;
    color: $custom_greyWhite;
}

.quantityButton{
    vertical-align: top;
    height: 35;
    width: 35;
    margin: 0;
    border-radius: 5;
    background-color: $custom_blue;
    color: white;
    &:active {
        border-width: 3;
        border-color: $custom_blue;
        background-color: white;
        color: $custom_blue;
    }
}
.quantityField {
    text-align: center;
    font-size: 20;
    height: 35;
    width: 65;
    margin: 0;
    border-width: 1;
    border-color: $custom_grey;
    border-radius: 5;
    color: $custom_blue;
    background-color: white;
}

.totalItemPrice {
    color: $custom_blue;
    font-size: 25;
    text-align: center;
    vertical-align: middle;
}

.deleteButton {
    color: $custom_grey;
    background-color: white;
    border: 0;
    width: 150;
    font-size: 15;
}

.emptyShoppingCart {
    margin: 25;
}

.totalContainer {
    border: 5;
    margin: 15;
    background-color: white;
}
.totalLabel {
    margin: 10;
    text-align: left;
    font-size: 40;
    color: $custom_orange;
}
.totalPrice {
    margin: 10;
    text-align: right;
    font-size: 40;
    color: $custom_orange;
}

.validateCart{
    margin: 15;
}
.validateCartButton {
    color: white;
    background-color: $custom_orange;
    font-size: 30;
}

.back {
    font-size: 20;
    color: white;
    background-color: $custom_orange;
}