// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;

.shoppingCartContainer {
    background-color: $custom_greyWhite;
}

.head {
    margin: 20;
}

.blueLine {
    vertical-align: bottom;
    height: 5;
    background-color: $custom_blue;
}

.cartHead {
    margin-left: 5%;
    margin-right: 5%;
    color: $custom_blue;
    font-size: 30;
    text-align: center;
}

.itemsContainer {
    border-radius: 10;
}

.item {
    background-color: white;
}

.labelField {
    text-align: center;
    font-size: 25;
}

.select {
    text-align: center;
    font-size: 20;
    background-color: white;
    border: 0;
    color: $custom_grey;
    border-radius: 5;
}

.back {
    font-size: 20;
    color: white;
    background-color: $custom_orange;
}

.settings {
    width: 75;
    height: 75;
    background-color: $main_color;
    color: $custom_grey;
    font-size: 30;
}