// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;


.switch {
    height: 30;
    width: 60;
    border-radius: 60;
    border-color: $custom_grey;
    border-width: 0.5;
}

.position {

}
.position0 {
    border-radius: 60 0 0 60;
}
.position1 {
    border-radius: 0 60 60 0;
}

.toggler {
    height: 25;
    width: 25;
    background-color: $custom_grey;
    border-radius: 60;
}