// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;


.profileContainer {
    background-color: $custom_greyWhite;
}

.welcomeAccount {
    text-align: center;
    font-size: 30;
    color: $custom_grey;
    margin-top: 15;
}

.infoContainer {
    background-color: white;
    border-radius: 5;
    margin: 15;
}



.label {
    vertical-align: center;
    font-size: 20;
    color: $custom_grey;
}
.leftLabel {
    margin-left: 15;
    margin-bottom: 0;
}

.field {
    height: 50;
    border-width: 2px;
    border-color: $custom_grey;
    border-radius: 5;
    font-size: 20;
    color: $custom_grey;
    font-family: "Courrier New";
    placeholder-color: $custom_grey;
    text-align: center;
}


.civilityButton {
    width: 27.5%;
    border-color: $custom_grey;
    font-size: 20;
    color: $custom_blue;
    &:active {
        background-color: $custom_blue;
        color: white;
    }
}
.civilityButton1 {
    border-width: 0.5 0.5 0.5 0.5;
    border-radius: 5 0 0 5;
    margin-right: 0;
    margin-right: 0px;
}
.civilityButton2 {
    border-width: 0.5 0 0.5 0;
    margin-right: 0px;
    margin-left: 0px;
}
.civilityButton3 {
    border-width: 0.5 0.5 0.5 0.5;
    border-radius: 0 5 5 0;
    margin-left: 0px;
}
.civilityButtonActive {
    background-color: $custom_blue;
    color: white;
}


.birthdayButton {
    width: 150;
    height: 50;
    border-width: 0.5;
    border-color: $custom_grey;
    border-radius: 5;
    font-size: 20;
    color: $custom_blue;
    &:active {
        background-color: $custom_blue;
        color: white;
    }
}


.invalidField {
    border-color: red;
}


.errorMessage {
    color: red;
    font-size: 15;
    text-align: center;
    margin: 0 15 15 15;
}


.addressContainer {
    background-color: white;
    border-radius: 5;
    margin: 15;
}