<BottomNavigation height="100%" width="100%" top="0" bottom="0" right="0" left="0">
    <TabStrip class="bottomnav_container">
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf0ca;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf07a;" class="fas t-36"></Image>
            <Label text="{{itemsInCart}}" class="itemsInCart"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="home"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="search"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="categories"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="account"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="shoppingCart"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>