// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;

.bottomnav_container {
    background-color: $main_color;
}

.navigation__item {
    color: $custom_blue;
}

.navigation__item {
    &:active, &:active Label {
        color: $custom_orange;
    }
}

.itemsInCart {
    font-size: 17.5;
    font-weight: bold;
}