// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;


.addressesContainer {
    margin: 0 15 15 15;
}

.addressContainer {
    border-width: 2;
    margin: 5;
}

.name {
    font-size: 25;
    margin-top: 5;
    text-align: center;
}

.label {
    font-size: 20;
    text-align: center;
    color: $custom_grey;
}

.editButton {
    margin-top: 15;
}

.sandBar {
    width: 100%;
    height: 2.5;
    background-color: $custom_sand;
}

.defaultCircle {
    margin-top: 5;
    margin-bottom: 5;
    height: 30;
    width: 30;
    border-radius: 60;
    background-color: $custom_greyWhite;
}

.innerCircle {
    margin-top: 5;
    margin-bottom: 5;
    height: 20;
    width: 20;
    border-radius: 60;
    background-color: white;
}

.bluePoint {
    margin-top: 4;
    margin-bottom: 4;
    background-color: $custom_blue;
    height: 12.5;
    width: 12.5;
    border-radius: 60;
}