/* Add mobile styles for the component here.  */
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;

.categoriesContainer {
    background-color: $custom_sand;
}

.listItemsContainer {
    background-color: $custom_greyWhite;
}

.category {
    text-align: center;
    font-size: 35;
    color: $custom_grey;
    background-color: $main_color;
}
.sixItems {
    height: 12.5%;
    margin: 2%;
};
.fiveItems {
    height: 15%;
    margin: 2.5%;
};
.fourItems {
    height: 20%;
    margin: 2.5%;
};
.threeFullItems {
    height: 27.5%;
    margin: 3%;
};
.threeItems {
    
};
.twoItems{
    height: 25%;
    margin: 2.5%;
};


.back {
    font-size: 25;
    color: white;
    background-color: $custom_orange;
}

.settings {
    width: 75;
    height: 75;
    background-color: $main_color;
    color: $custom_grey;
    font-size: 30;
}