/* Add mobile styles for the component here.  */
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;

/* .tabs {
    background-color: $custom_sand;
    .tab {
        color: $custom_blue;
        &:active, &:active Label {
            color: $custom_orange;
        }
    }
} */

TabStrip {
    selected-item-color: $custom_orange;
    un-selected-item-color: $custom_blue;
    highlight-color: $custom_orange;
}