<ActionBar class="actionbar">
    <GridLayout rows="*" columns="*,*,*">
        <Button row="0" col="0" class="btn" text="RETOUR" (tap)="goBack()" *ngIf="route !== 'firstCategory'"></Button>
        <Image row="0" col="1" src="~/fonts/logo-menu-uni.png" horizontalAlignment="center" stretch="none"></Image>
        <Image row="0" col="2" class="settings fas" stretch="none" src="font://&#xf013;"></Image>
    </GridLayout>
</ActionBar>

<GridLayout rows="*,*,*" columns="*,*" class="page" *ngIf="currentRoute === 'cat1'">
    <StackLayout class="labelContainer" row="0" col="0" verticalAlignment="center">
        <Label text="JE DÉBUTE"></Label>
    </StackLayout>
    <StackLayout class="labelContainer" row="0" col="1" verticalAlignment="center">
        <Label text="ECIGARETTES"></Label>
    </StackLayout>
    <StackLayout class="labelContainer" row="1" col="0" verticalAlignment="center">
        <Label text="ELIQUIDES"></Label>
    </StackLayout>
    <StackLayout class="labelContainer" row="1" col="1" verticalAlignment="center">
        <Label text="COIN DES EXPERTS" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="labelContainer" row="2" col="0" verticalAlignment="center">
        <Label text="DIY"></Label>
    </StackLayout>
    <StackLayout class="labelContainer" row="2" col="1" verticalAlignment="center">
        <Label text="BONS PLANS"></Label>
    </StackLayout>
</GridLayout>