/* Add mobile styles for the component here.  */
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;

.page {
    background-color: $custom_sand;
}

.labelContainer {
    height: 28%;
    width: 45%;
    background-color: $main_color;
    border-radius: 5;
}

Label {
    text-align: center;
    font-size: 35;
    color: $custom_grey;
}

.btn {
    font-size: 20;
    border-radius: 5;
    color: white;
    background-color: $custom_orange;
    &:active {
        opacity: 0.5;
        color: white;
    }
}

.settings {
    color: $custom_grey;
    margin-right: 10;
    vertical-align: middle;
    &:active {
        opacity: 0.5;
    }
}