// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;


.head {
    margin: 15;
}

.blueLine {
    vertical-align: bottom;
    height: 5;
    background-color: $custom_blue;
}

.title {
    margin-left: 5%;
    margin-right: 5%;
    color: $custom_blue;
    font-size: 30;
    text-align: center;
}