<ActionBar class="actionbar">
    <GridLayout rows="*" columns="*,*,*">
        <Button row="0" col="0" class="back" text="RETOUR" (tap)="goBack()" *ngIf="back"></Button>
        <Image row="0" col="1" src="~/fonts/logo-menu-uni.png" (touch)="onRotate($event)" horizontalAlignment="center" stretch="none"></Image>
        <Button row="0" col="2" class="settings fas" text="&#xf013;" horizontalAlignment="right" (tap)="onSettings()"></Button>
    </GridLayout>
</ActionBar>

<GridLayout rows="*,*" columns="">
    <Image row="0" src="~/fonts/{{currentSlide}}.jpg"></Image>
</GridLayout>