$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;

.back {
    font-size: 20;
    color: white;
    background-color: $custom_orange;
}

.settings {
    width: 75;
    height: 75;
    background-color: $main_color;
    color: $custom_grey;
    font-size: 30;
}