<StackLayout class="container">
    <Image class="picture" src="~/item_pictures/{{picture}}.jpg"></Image>
    <Label class="name" [text]="name" editable="false"></Label>
    <TextView class="shortDescription" [text]="shortDescription" editable="false"></TextView>
    <Button class="buyButton" text="EN SAVOIR PLUS" (tap)="onSingleItem()"></Button>
</StackLayout>

<!-- TODO -->
<!-- <AbsoluteLayout class="price_container">
    <Image class="price_background" src="~/fonts/price_background.png"></Image>
</AbsoluteLayout> -->