// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;

.container {
    background-color: white;
    margin: 5;
    width: 170;
    border-radius: 5;
}

.picture {
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 0;
}

.price_container {
}
.price_background {
}
.price {
}

.name {
    text-align: center;
    color: $custom_orange;
    font-size: 20;
    height: 50;
    margin-top: 5;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 0;
}

.shortDescription {
    text-align: center;
    font-size: 15;
    margin-top: 5;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 0;
}

.buyButton {
    margin-top: 5;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 0;
    background-color: $custom_blue;
    color: white;
    &:active {
        background-color: $custom_orange;
    }
}