// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;

.container {
    background-color: white;
    margin: 5;
    height: 350;
    width: 170;
}

.picture {
    margin: 10;
}

.name {
    text-align: center;
    font-size: 25;
    color: $custom_orange
}

.shortDescription {
    text-align: center;
    font-size: 15;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 0;
}

.buyButton {
    height: 75;
    margin: 0;
    background-color: $custom_blue;
    color: white;
    &:active {
        background-color: $custom_orange;
    }
}