<StackLayout class="container">
    <Image class="picture" src="~/item_pictures/{{picture}}.jpg"></Image>
    <Label class="name" [text]="name" editable="false" textWrap="true"></Label>
    <TextView class="shortDescription" [text]="shortDescription" editable="false"></TextView>
    <ns-custom-button [type]="'blue'" [text]="'EN SAVOIR PLUS'" [width]="'90%'" [fontSize]="'20'"
        (tap)="onSingleItem()" margin="5"></ns-custom-button>
</StackLayout>

<!-- TODO -->
<!-- <AbsoluteLayout class="price_container">
    <Image class="price_background" src="~/fonts/price_background.png"></Image>
</AbsoluteLayout> -->