// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;


.blueButton {
    background-color: $custom_blue;
    color: white;
    font-size: 25;
    &:active {
        background-color: $custom_orange;
        color: white;
    }
}

.orangeButton {
    background-color: $custom_orange;
    color: white;
    font-size: 25;
    &:active {
        background-color: $custom_blue;
        color: white;
    }
}

.whiteButton {
    background-color: white;
    color: $custom_grey;
    font-size: 25;
}