// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.spinner {
    width: 100;
    height: 100;
    background-color: transparent;
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.quarter1 {
    width: 50;
    height: 50;
    border-width: 10 0 0 10;
    border-radius: 100 0 0 0;
    border-color: $custom_blue;
    background: transparent;
}

.quarter2 {
    width: 50;
    height: 50;
    border-width: 10 10 0 0;
    border-radius: 0 100 0 0;
    border-color: $custom_orange;
    background: transparent;
    left: 50;
}

.quarter3 {
    width: 50;
    height: 50;
    border-width: 0 0 10 10;
    border-radius: 0 0 0 100;
    border-color: $custom_orange;
    background: transparent;
    top: 50;
}

.quarter4 {
    width: 50;
    height: 50;
    border-width: 0 10 10 0;
    border-radius: 0 0 100 0;
    border-color: $custom_blue;
    background: transparent;
    top: 50;
    left: 50;
}
