// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;

.container {
    background-color: $custom_greyWhite;
}

.head {
    margin: 20;
}

.blueLine {
    vertical-align: bottom;
    height: 5;
    background-color: $custom_blue;
}

.name {
    margin-left: 5%;
    margin-right: 5%;
    color: $custom_blue;
    font-size: 30;
    text-align: center;
}

.image {
    margin-left: 20;
    margin-right: 20;
}

.buyBorder {
    margin-left: 20;
    margin-right: 20;
    margin-top: 20;
    border-width: 7;
    border-color: $custom_sand;
}
.buyContainer {
    margin: 3;
    background-image: url("~/fonts/fond_buy.jpg");
    background-repeat: repeat;
}