<BottomNavigation>
    <TabStrip class="bottomnav_container">
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item"> <!-- (tap)="onInitCategories()" -->
            <Image src="font://&#xf0ca;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Image src="font://&#xf07a;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="home"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="search"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="categories"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="account"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="shopping"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>