// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;

.authContainer {
    height: 100%;
    width: 90%;
    margin-top: 20;
}

.signupLabel {
    font-size: 25;
    color: $custom_blue;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.field {
    height: 150px;
    border-width: 2px;
    border-color: $custom_grey;
    border-radius: 5%;
    font-size: 20;
    color: $custom_grey;
    font-family: "Courrier New";
    placeholder-color: $custom_grey;
    margin: 0;
}


.signupButton {
    width: 75%;
    background-color: $custom_orange;
    color: white;
    font-size: 25;
    &:active {
        background-color: $custom_blue;
    }
}

.errorMessage {
    color: red;
    font-size: 15;
    margin: 0;
}

.goToLoginLabel {
    vertical-align: center;
    font-size: 15;
}
.goToLoginButton {
    width: 115vw;
    background-color: $custom_blue;
    color: white;
    font-size: 20;
    &:active {
        background-color: $custom_orange;
    }
}

.noLogin {
    width: 50%;
    background-color: $custom_grey;
    font-size: 15;
    color: white;
}

.civilityContainer {
}
.civilityLabel {
    vertical-align: center;
    font-size: 20;
    color: $custom_grey;
}
.civilityButton {
    width: 27.5%;
    border-color: $custom_grey;
    font-size: 20;
    color: $custom_blue;
    &:active {
        background-color: $custom_blue;
        color: white;
    }
}
.civilityButton1 {
    border-width: 0.5 0.5 0.5 0.5;
    border-radius: 5 0 0 5;
    margin-right: 0;
    margin-right: 0px;
}
.civilityButton2 {
    border-width: 0.5 0 0.5 0;
    margin-right: 0px;
    margin-left: 0px;
}
.civilityButton3 {
    border-width: 0.5 0.5 0.5 0.5;
    border-radius: 0 5 5 0;
    margin-left: 0px;
}
.civilityButtonActive {
    background-color: $custom_blue;
    color: white;
}


.birthdayContainer {
    margin-top: 15;
    margin-bottom: 15;
}
.birthdayLabel {
    vertical-align: center;
    font-size: 20;
    color: $custom_grey;
}
.birthdayButton {
    width: 50%;
    height: 10%;
    border-width: 0.5;
    border-color: $custom_grey;
    border-radius: 5;
    font-size: 20;
    color: $custom_blue;
    &:active {
        background-color: $custom_blue;
        color: white;
    }
}

.invalidField {
    border-color: red;
}

.welcomeMessageContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.welcomeMessage {
    font-size: 50;
    font-family: "Carrington";
    color: $custom_orange;
    text-align: center;
}