<ScrollView>
    <StackLayout>
        <StackLayout class="authContainer text-center">

            <Label class="signupLabel" text="CRÉER UN COMPTE LE PETIT VAPOTEUR" textWrap="true"></Label>


            <Label class="errorMessage" *ngIf="invalidEmail"
                text="Veuillez rentrer une addresse e-mail valide."></Label>
            <TextField class="field" id="email" hint="E-mail..." [(ngModel)]="email"
                [ngClass]="{ 'invalidField' : invalidEmail }" editable="{{!spinner}}"></TextField>


            <Label class="errorMessage" *ngIf="invalidPassword" text="Veuillez rentrer un mot de passe."></Label>
            <TextField class="field" id="password" secure="true" hint="Mot de passe..." [(ngModel)]="password"
                [ngClass]="{ 'invalidField' : invalidPassword || invalidConfirmPassword }" editable="{{!spinner}}">
            </TextField>


            <Label class="errorMessage" *ngIf="invalidConfirmPassword"
                text="Les mots de passe ne correspondent pas."></Label>
            <TextField class="field" id="confirmPassword" secure="true" hint="Confirmer mot de passe..."
                [(ngModel)]="confirmPassword" [ngClass]="{ 'invalidField' : invalidConfirmPassword }"
                editable="{{!spinner}}"></TextField>


            <StackLayout width="90%" class="civilityContainer">
                <Label class="errorMessage" *ngIf="invalidCivility" textWrap="true"
                    text="Veuillez sélectionner une civilité. Si vous ne souhaitez pas la communiquer, mettez simplement 'Autre' !"></Label>
                <StackLayout orientation="horizontal">
                    <Label class="civilityLabel" text="CIVILITÉ"></Label>
                    <Button class="civilityButton civilityButton1"
                        [ngClass]="{'civilityButtonActive' : civility === 'MONSIEUR', 'invalidField' : invalidCivility }"
                        text="MONSIEUR" (tap)="onCivility('MONSIEUR')" id="civility" isEnabled="{{!spinner}}"></Button>
                    <Button class="civilityButton civilityButton2"
                        [ngClass]="{'civilityButtonActive' : civility === 'MADAME', 'invalidField' : invalidCivility }"
                        text="MADAME" (tap)="onCivility('MADAME')" id="civility" isEnabled="{{!spinner}}"></Button>
                    <Button class="civilityButton civilityButton3"
                        [ngClass]="{'civilityButtonActive' : civility === 'AUTRE', 'invalidField' : invalidCivility }"
                        text="AUTRE" (tap)="onCivility('AUTRE')" id="civility" isEnabled="{{!spinner}}"></Button>
                </StackLayout>
            </StackLayout>


            <StackLayout width="90%" class="birthdayContainer">
                <Label class="errorMessage" *ngIf="invalidBirthday" text="La vente de e-cigarettes et de produits nicotinés est interdite aux mineurs. 
                Vous devez avoir 18 ans ou plus pour créer un compte Le Petit Vapoteur." textWrap="true"></Label>
                <StackLayout orientation="horizontal">
                    <Label class="birthdayLabel" text="DATE DE NAISSANCE"></Label>
                    <Button class="birthdayButton" id="birthday" [text]="birthdayShort" (tap)="onBirthday()"
                        [ngClass]="{ 'invalidField' : invalidBirthday }" isEnabled="{{!spinner}}"></Button>
                </StackLayout>
            </StackLayout>


            <Label class="errorMessage" *ngIf="invalidLastName" text="Veuillez rentrer un nom de famille."></Label>
            <TextField class="field" id="lastName" hint="Nom..." [(ngModel)]="lastName"
                [ngClass]="{ 'invalidField' : invalidLastName }" editable="{{!spinner}}"></TextField>


            <Label class="errorMessage" *ngIf="invalidFirstName" text="Veuillez rentrer un prénom."></Label>
            <TextField class="field" id="firstName" hint="Prénom..." [(ngModel)]="firstName"
                [ngClass]="{ 'invalidField' : invalidFirstName }" editable="{{!spinner}}"></TextField>


            <ns-custom-button [type]="'orange'" [text]="'CRÉER UN COMPTE !'" [width]="'75%'" (tap)="onSignup($event)"
                isEnabled="{{!spinner}}"></ns-custom-button>


            <StackLayout orientation="horizontal" width="90%">
                <Label class="goToLoginLabel" text="VOUS POSSÉDEZ DÉJÀ UN COMPTE ?"></Label>
                <ns-custom-button [type]="'blue'" [text]="'SE CONNECTER'" [width]="'50%'" [fontSize]="'20'"
                    (tap)="goToLogin()" isEnabled="{{!spinner}}"></ns-custom-button>
            </StackLayout>


            <ns-custom-button *ngIf="startingApp" [type]="white" [text]="'SE CONNECTER PLUS TARD'" [width]="'50%'"
                [fontSize]="'15'" (tap)="goToApp()" isEnabled="{{!spinner}}">
            </ns-custom-button>

        </StackLayout>
    </StackLayout>
</ScrollView>

<ns-custom-spinner *ngIf="spinner"></ns-custom-spinner>

<StackLayout *ngIf="welcome" class="welcomeMessageContainer" verticalAlignment="center">
    <StackLayout>
        <Label class="welcomeMessage" text="Bienvenue à toi petit vapoteur !" textWrap="true"></Label>
    </StackLayout>
</StackLayout>