// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;


.searchField {
    width: 60%;
    border-width: 2; 
    border-color: $custom_blue;
    border-radius: 5;
    text-align: center;
    color: $custom_blue;
    font-size: 20;
}

.searchButton {
    left: 10;
    width: 30%;
    border-radius: 5;
    color: white;
    background-color: $custom_orange;
}