// colors
$main_color: #eeebe4;
$custom_blue: #2cc1b2;
$custom_orange: #f28231;
$custom_sand: #dbd1bc;
$custom_grey: #808185;
$custom_greyWhite: #e7e7e7;
$custom_darkSand: #a49981;

.welcomeMessageContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.welcomeMessage {
    font-size: 35;
    font-family: "Carrington";
    color: $custom_orange;
}